body {
    background-color: cadetblue;
    
}
.container h1 {
    align-content: center;
    font-weight: 900;
    font: bolder;
    line-height: 1.5em;
}
.flex-box-rps h1 {
    align-content: center;
    font-weight: 900;
    font: bolder;

}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-top: 30px;
    display: block;
    text-align: center;
    justify-content: space-around;
}

.flex-box-rps img {
    margin: 20px;
    box-shadow: 0px 10 px 50px rgba(0, 0, 0, 0.8);
    
}

.flex-box-rps img:hover {
    box-shadow: 0 10px 40px rosybrown;

}

.container, .flex-box-rps {
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 30px;
}


.flex-box-rps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 75%;

}

@media screen and (max-width: 640px) {
    .container h1, h1.finalMessage {
        font-size: 15px;
        text-align: center;
    }

    .flex-box-rps, div h1 {
        width: 100%;
        margin: auto;
    }
    #rock, #paper, #scissor {
        width: 50%;
        min-width: auto;
        height: auto;

    }
}
